* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: blueviolet;
  text-align: center;
  border: 5px solid red;
}
.form-group {
  text-align: center;
  display: inline-block;
}
h2 {
  text-align: center;
  
}
